nrpe "check_load", "60s", "monitored_by=monitor1"
nrpe "check_swap", "60s", "monitored_by=monitor1"
nrpe "check_disks", "60s", "monitored_by=monitor1"
nrpe "check_pki", "60s", "monitored_by=monitor1"
nrpe "check_mailq", "60s", "monitored_by=monitor1"
nrpe "check_totalprocs", "60s", "mysql::service monitored_by=monitor1"
nrpe "check_mongodb", "60s", "mongodb monitored_by=monitor1"
nrpe "check_greylistd", "60s", "greylistd monitored_by=monitor1"
nrpe "check_mysql", "60s", "mysql::service monitored_by=monitor1"
nrpe "check_bacula_main", "6h", "bacula::node monitored_by=monitor1"
